.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}
.title {
  font-family: 'Lobster';
  font-weight: bold;
  font-size: 30px;
}
.languagesList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  width: 40%;
}
.repoListContainer {
  display: flex;
  flex-wrap: wrap;
}
.failureImage {
  width: 100%;
  height: 100%;
}
